QWidget{
    background-color: white;
}
QLineEdit {
    height: 36px;
    font: 15pt "MS Shell Dlg 2";
    padding-left: 10px;
    color: #454e4f;
    background-color: #dadfe5;
    border-radius: 10px;
    margin: 0 auto;
}
QLineEdit:hover {
    cursor: default;
}
QPushButton {
    height: 45px;
    font: 15pt "MS Shell Dlg 2";
    color: white;
    background-color: #43e87a;
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
}
QGroupBox {
    border: none;
}