QWidget{
    background-color: white;
}
QWidget#variants_of_answer_widget{
    background-color: #f2f3f7;
}
QLabel{
    font-size: 16px;
}
QLabel#question_label {
    font-size: 18px;
}
QScrollArea#question_scrollarea {
    border-left: none;
    border-right: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
}

QLabel#question_counter {
    font-size: 24px;
    padding: 10px;
    background-color: #CCCCCC;
}
QLabel#answer_option_label {
    padding-left: 2px;
}
QLineEdit#answer_input_label {
    font-size: 18px;
}
QVBoxLayout{
}
QWidget#current_question_widget {
    height: 85%;
    min-height: 500px;
    position: absolute;
}
QLabel#question_counter {
    font-size: 20px;
    max-height: 20px;
    position: absolute;
    border-bottom: 3px solid #B7B7B7;
}
QPushButton{
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 0,
                                        stop: 0 #2ECD70, stop: 1 #2ECD70);
    border-radius: 38px;
    position: absolute;
    max-height: 70px;
    padding: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
QPushButton#next_button {
    align: right;
}