QMainWindow {
    background-color: #F5F5F5; /* set background color of main window */
}

QScrollArea {
    background-color: #FFFFFF; /* set background color of scroll area */
}

QWidget {
    background-color: #FFFFFF; /* set background color of central widget */
}

Clickable_label {
    background-color: #FFFFFF; /* set background color of test labels */
    border: 2px solid #CCD6DD; /* add a border to test labels */
    font-size: 20px; /* set font size of test labels */
    padding: 10px; /* add padding to test labels */
    margin: 10px; /* add margin to test labels */
}

Clickable_label:hover {
    background-color: #CCD6DD; /* change background color of test labels when hovered over */
    cursor: pointer; /* change cursor to pointer when hovered over */
}
